name: PR Test

on:
  push:
    branches:
      - feature/*
      - main
  pull_request:
    branches:
      - main

jobs:  
  job1:
    uses: ./.github/workflows/reusable-workflows-pr.yml
    with:
      username: chan
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
