name: Reusable workflow

on:
  workflow_call:
    inputs:
      username:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  example_job:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "username: ${{ inputs.username }}"
          echo "token: ${{ secrets.token }}"
